.chat-user-profile-container{
    width: 25vw;
}
.chat-user-profile-container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: #b7a7e4;
    padding: 0.5rem 1.5rem 0.5rem 2rem;
    border-radius: 2px;
}
.chat-profile{
    display: flex;
    align-items: center;
}
.chat-user-img{
    width: 45px;
    height: 45px;
    background-color: rgb(172, 124, 207);
    margin-right:1.5rem;
    border-radius: 100%;
    border: 2px solid white;
}

.chatroom-plus-logo{
    width: 25px;
    height: 25px;
    /* background-color: rgb(207, 124, 207); */
    text-align: center;
    font-size: 19px;
    color: white;
}
.chatroom-plus-logo:hover{
    cursor: pointer;
    color:  rgba(119, 54, 157, 0.545) ;
}
.chat-user-chatroom-list{
    height: 78vh;
    background-color: #d3d0dc;
    padding-top: 1.2rem;
}

/* setting scroll bar css */
.chat-user-chatroom-list {
    max-height: 78vh; /* 최대 높이 */
    overflow-y: auto;  /* 수직 스크롤 */
    padding: 10px;    /* 여백 추가 */
    border: 1px solid #ddd; /* 테두리 추가 */
    border-radius: 2px; /* 둥근 테두리 */
}

.chat-user-chatroom-list::-webkit-scrollbar {
    width: 2px;  
}

.chat-user-chatroom-list::-webkit-scrollbar-thumb {
    background-color: #dbd0dc;
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

/* .chat-user-chatroom-list::-webkit-scrollbar-track {
    background: rgba(224, 192, 199, 0.951);  
} */


.searchbar-trigger{
    margin-left: 1rem;
    font-size: small;
    color: gray;
}
.searchbar-trigger:hover{
    cursor: pointer;

}
.chat-searchbar{
    height: 5.5vh;
    width: 19vw;
    background-color: white;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 1.2rem;
    display: block;
    border: 1px solid #d2bdd5;
    padding-left: 1.5rem;
    outline: none;
}
